<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <script src='./js/factories/json/lots.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
  <script src ='./js/Modal.js'></script>
  <script src ='./js/Slider.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

  <style>
  #map{
   height: 850px;
   width: 100%;
 }
</style>
</head>
<body ng-app="parkingpicker">
  <div></div>
  <div class="sidenav" ng-controller="LotsController">
    <header>
      <input type="text" placeholder=" Search For Building">
      <br>

      <div class = "floating-box">
        <div class ="title"><b>Filters</b></div>

        <form class="form-horizontal" action="">
          <div class="content">
            <div class="col-sm-6 form-group tags categories">

              <label ng-repeat="decal in decalRestrictions">
               <!--
                 - Use `value="{{fruit.name}}"` to give the input a real value, in case the form gets submitted
                   traditionally

                 - Use `ng-checked="fruit.selected"` to have the checkbox checked based on some angular expression
                   (no two-way-data-binding)

                 - Use `ng-model="fruit.selected"` to utilize two-way-data-binding. Note that `.selected`
                   is arbitrary. The property name could be anything and will be created on the object if not present.
               -->
               <input
                 type="checkbox"
                 name="selectedDecals[]"
                 ng-model="decal.selected"
               > {{decal.decal}} </br>
             </label>

           </div>
           </div>
                    <div class = "option_flex">
             <button type='button' ng-disabled='!loaded' ng-click="save()">Save </button>
           <div>Purchase Decal Now</div>
         </div>

       </div>

     </div>



     <div id='map'></div>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
     <script>

      mapboxgl.accessToken = 'pk.eyJ1IjoiY2hhZHdpc2giLCJhIjoiY2pvNHBtMDJ4MDJoNzNrcW1lNTl5OHJ3cCJ9.2IMzK7lWG1qE7aLA39BHUw';
      var map = new mapboxgl.Map({
        container: 'map',
        center: [-82.356360, 29.641178],
        zoom: 12.9,
        style: 'mapbox://styles/mapbox/basic-v9'
     });

    </script>
    <script src="js/app.js"></script>
    <script src="js/factories/lotFactory.js"></script>
    <script src="js/controllers/lotController.js"></script>


<script >  
  $('.modal-toggle').on('click', function(e) {
    e.preventDefault();
    $('.modal').toggleClass('is-visible');
  });

</script>

<script>
  var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

</body>
</html>
