<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    overflow-x: hidden;
    padding-top: 0px;
}

.sidenav header{
     background-position: fixed;
     background-repeat: no-repeat;
     background-image: url("./assets/ParkingPicker.jpg");

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    display: block;
}

.sidenav input[type=text]{
    width: 230px;
    height:25px;
    
    position:relative;
    top: 100px;

    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.sidenav a:hover {
    color: #818181;
}

.floating-box {
    width: 200px;
    height: 250px;

    position:relative;
    top: 120px;
    margin-left: 15px;
    padding:15px;

    background: #ffffff;
    box-shadow: 1px 1px 3px #A4A4A4;
    border-radius:6px;
}

.floating-box title{
    width: 200px;
    height: 250px;

    position:relative;
    top: 120px;
    margin-left: 15px;
    padding:15px;

    background: #ffffff;
    box-shadow: 1px 1px 3px #A4A4A4;
    border-radius:6px;
}

.floating-box-small {
    width: 200px;
    height: 150px;

    margin-left: 15px;
    padding:15px;

    background: #ffffff;
    box-shadow: 1px 1px 3px #A4A4A4;
    border-radius:6px;
}

.main {
    margin-left: 260px;/* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.bg-image {
    background-image: url("map.jpg");
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>
