  <style>
  html {
        overflow: auto;
}
  body {
    font-family: Helvetica, Arial, Sans-Serif;
    height:100%;
    margin:0;
    padding:0;
  }

  p{
    font-family: Helvetica;
  }

  .a:hover, a:active{
    color: white;
  }
  .bgcolor2 {
    color: #000;
  }

  .sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    overflow-x: hidden;
    padding-top: 0px;
  }

  .sidenav header{
   background-position: fixed;
   background-repeat: no-repeat;
   background-image: url("/assets/logo.jpg");
 }

 .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  display: block;
}

.sidenav input[type=text]{
  width: 88%;
  height:25px;

  padding: 5px;
  position:relative;
  top: 105px;

  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.sidenav a:hover {
  color: #818181;
}


.form{
  display:inline-block;
}


.floating-box {
  width: 88%;
  height: 575px;
  position:relative;
  top: 120px;
  margin-left: 15px;
  background: #ffffff;
  box-shadow: 1px 1px 3px #A4A4A4;
  border-radius:6px;
}


.floating-box .title {
  width: 100%;
  height: 45px;

  font-size: 20px;
  font-family: Helvetica, Arial, Sans-Serif;

  color:white;
  padding-left: 15px;

  margin: 0px;
  line-height: 50px;
  background: #3581b8;
  border-radius:6px 6px 0px 0px;
}

.floating-box .content {
 padding:15px;
 font-family: Helvetica, Arial, Sans-Serif;

}

/* Filter */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;

}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right:0;
  height: 15px;
  width: 15px;
  box-shadow: 1px 1px 1px #A4A4A4;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 3px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.floating-box-small {
  width: 200px;
  height: 150px;

  margin-left: 15px;
  padding:15px;

  background: #ffffff;
  box-shadow: 1px 1px 3px #A4A4A4;
  border-radius:6px;
}


.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/*----------------*/
/* Modal - POP UP */
/*----------------*/

.modal {

  z-index: 10000; /* 1 */
  top: 0;
  left: 100;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  
  left: 40%;
  width: 35em;
  margin-left: -10em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 0.3em;
  font-size :100%;
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 20px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*----------------*/
/*    Loader      */
/*----------------*/

#loading {
  background: url('assets/Spinner-1s-200px.gif') no-repeat center center;
  position: absolute;
  height: 100%;
  width: 100%;
}
/*----------------*/
/*    Slider      */
/*----------------*/

* {
  box-sizing: border-box;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 23px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: #3581b8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FF0000;
  cursor: pointer;
}

.sliderticks {
  display: flex;
  font-size:12px;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.graph {
  padding: 10px 0px 0px 0px;
  display: none;
  overflow: hidden;
  
}

.modal-toggle{
  padding:0;
  border-radius: 5px;

}

#mybutton{
  text-align:center;
  margin-top: 0px;

}

.mybutton {
  font-family: Helvetica, Arial, Sans-Serif;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  border: 1px solid #2196F3;

}

.mybutton:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;    
}

.blue:hover {
  background-color: #6FC6FF;

}

.white {
 background-color: #ffffff;
 color: #2196F3;
 border: 1px solid #2196F3;
 padding:6px 10px;  
}

.whitelong {
 background-color: #ffffff;
 color: #2196F3;
 padding:6px 42px;  
}

.white:hover {
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
}

.whitelong:hover {
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
}

/* Style tab links */
.tablink {
  background-color: #E5E7E9;
  color: black;
  float: left;
  border: 1px;
  outline: 5px;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 16px;
  width: 33%;
}

.tablink:hover {
  background-color: #D5D8DC;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  font-family: Helvetica;
  padding:30px 30px;
  padding-top: 80px;
  height: 100%;
}

.lotName{
 font-size:24px;
 font-weight:100;        

 display:inline-block;
 vertical-align:top;
 position:relative; 
}


/*                  */
/* Percentage Wheel */
/*                  */

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around ;

}

.single-chart {
  width: 42%;

}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.lotInfo{
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around ;
}

.lotInfo-a {
 
  font-size: 14px;
}

.lotInfo-a .title{
  padding-left:30px;
  padding-right:30px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:16px;
  background-color: #E5E7E9;
}
.lotInfo-b {
  text-align: center;
  color: #2c3e50;
  font-size: 14px;
}

.lotInfo-b .title{
 padding-left:30px;
 padding-right:30px;
 padding-top:5px;
 padding-bottom:5px;
 font-size:16px;
 background-color: #E5E7E9;
}

hr{
  margin:0 0 15px;
}

.spacer{
  height:20px;
}
td{
  padding:5px;
}

ul{
  display:table;
  margin:10px;
}

li{
  color: #2c3e50;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 1px;
}

#Summary {background-color: #F8F9F9;}
#Rate {background-color: #F8F9F9;}
#Statistics {background-color: #F8F9F9;}


.main {
  margin-left: 260px;/* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
